[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
seaborn = "*"
pandas = "*"
numpy = "*"
selenium = "*"
beautifulsoup4 = "*"
ipykernel = "*"
psycopg2 = "==2.9.9"
requests = "*"
psycopg2-binary = "==2.9.9"
python-dotenv = "*"
webdriver-manager = "*"
tqdm = "*"
aiohttp = "*"
asyncio = "*"
unidecode = "*"
asyncpg = "*"

[dev-packages]

[requires]
python_version = "3.11"
